@media (max-width:992px) {
    .service{
        .service-area{
            .service-article{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@media (max-width:992px) {
    .design{
        .container{
            .design-area{
                flex-direction: column;
                gap: 3rem;
                justify-content: center;
                text-align: center;
                .design-area-right{
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    button{
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
    }
}